<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List Job Entries</title>
  <link rel="stylesheet" th:href="@{/static/css/bulma.css}">
  <link rel="icon" th:href="@{/static/icon/favicon.ico}" type="img/favicon.ico">
</head>
<body>
<div class="tabs is-centered">
  <ul>
    <li><a th:href="@{/}">Index page</a></li>
    <li class="is-active"><a th:href="@{/entries}">Job Entries</a></li>
    <li><a th:href="@{/edit}">Edit</a></li>
  </ul>
</div>

<div class="hero is-align-items-center is-justify-content-start mt-6">
  <h1 class="title is-3">Bảng việc làm</h1>
  <table class="table">
    <thead>
    <tr>
      <th>Mã việc làm</th>
      <th>Mô tả</th>
      <th>Dự án</th>
      <th>Ngôn ngữ</th>
      <th>Ngay bắt đầu</th>
      <th>Ngày kiểm tra</th>
      <th>Số ngày công</th>
      <th>Tổng tiền</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>DK001</td>
      <td>NV001</td>
      <td>Phan Hoai Anh</td>
      <td>Nu</td>
      <td>1</td>
      <td>VL001</td>
      <td>2</td>
      <td>1000000</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>