<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  Datasource  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/Testing" />
        <property name="username" value="root" />
        <property name="password" value="hansniemann@GOAT" />
    </bean>

    <!--  Hibernate properties  -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>AllMapping.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <!-- Registering repositories -->
    <bean id="viecLamRepository" class="com.yama.repository.ViecLamRepository" />
    <bean id="dangKyLamThemRepository" class="com.yama.repository.DangKyLamThemRepository" />

    <!-- Registering services, inject repository -->
    <bean id="vieclamService" class="com.yama.service.ViecLamService">
        <constructor-arg ref="viecLamRepository" />
    </bean>

    <bean id="dangKyLamThemService" class="com.yama.service.DangKyLamThemService">
        <constructor-arg ref="dangKyLamThemRepository" />
    </bean>
</beans>
